<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RJ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Pos_Sabzi_Mandi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="I_Bee_Mini_Mart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SchoolMgmSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <RJ.Properties.Settings>
      <setting name="Connectionstring" serializeAs="String">
        <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=POS_Sabzi_Mandi;Data Source=DESKTOP-ETODI1U</value>
      </setting>
      <setting name="CopyRight" serializeAs="String">
        <value>© 2017 GTechy RIGHTS RESERVED</value>
      </setting>
      <setting name="temp" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuser" serializeAs="String">
        <value />
      </setting>
      <setting name="loginid" serializeAs="String">
        <value />
      </setting>
      <setting name="logintype" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuserid" serializeAs="String">
        <value />
      </setting>
      <setting name="SchoolName" serializeAs="String">
        <value />
      </setting>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="contact" serializeAs="String">
        <value />
      </setting>
      <setting name="datestatus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableDeleteButton" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReceivingInPoints" serializeAs="String">
        <value>0</value>
      </setting>
    </RJ.Properties.Settings>
    <Pos_Sabzi_Mandi.Properties.Settings>
      <setting name="Connectionstring" serializeAs="String">
        <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=POS_Sabzi_Mandi;Data Source=Gul_Rehman</value>
      </setting>
      <setting name="CopyRight" serializeAs="String">
        <value>© 2017 GTechy RIGHTS RESERVED</value>
      </setting>
      <setting name="temp" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuser" serializeAs="String">
        <value />
      </setting>
      <setting name="loginid" serializeAs="String">
        <value />
      </setting>
      <setting name="logintype" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuserid" serializeAs="String">
        <value />
      </setting>
      <setting name="SchoolName" serializeAs="String">
        <value />
      </setting>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="contact" serializeAs="String">
        <value />
      </setting>
    </Pos_Sabzi_Mandi.Properties.Settings>
    <I_Bee_Mini_Mart.Properties.Settings>
      <setting name="Connectionstring" serializeAs="String">
        <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=I_Bee_Mini_Mart_DB;Data Source=Gul_Rehman</value>
      </setting>
      <setting name="CopyRight" serializeAs="String">
        <value>© 2017 GTechy RIGHTS RESERVED</value>
      </setting>
      <setting name="temp" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuser" serializeAs="String">
        <value />
      </setting>
      <setting name="loginid" serializeAs="String">
        <value />
      </setting>
      <setting name="logintype" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuserid" serializeAs="String">
        <value />
      </setting>
      <setting name="SchoolName" serializeAs="String">
        <value />
      </setting>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="contact" serializeAs="String">
        <value />
      </setting>
    </I_Bee_Mini_Mart.Properties.Settings>
    <SchoolMgmSys.Properties.Settings>
      <setting name="Connectionstring" serializeAs="String">
        <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=GenesisSchoolMgm;Data Source=GMREHMAN\GM</value>
      </setting>
      <setting name="CopyRight" serializeAs="String">
        <value>© 2017 GENESIS SOFTWARE SERVICES RIGHTS RESERVED</value>
      </setting>
      <setting name="temp" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuser" serializeAs="String">
        <value />
      </setting>
      <setting name="loginid" serializeAs="String">
        <value />
      </setting>
      <setting name="logintype" serializeAs="String">
        <value />
      </setting>
      <setting name="loginuserid" serializeAs="String">
        <value />
      </setting>
      <setting name="SchoolName" serializeAs="String">
        <value />
      </setting>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="contact" serializeAs="String">
        <value />
      </setting>
    </SchoolMgmSys.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SendKeys" value="SendInput" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="POS_Sabzi_MandiEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NU57J8F;initial catalog=POS_Sabzi_Mandi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>